<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1">
    <title>{% if page.title %}{{ page.title | smartify }} | {% endif %}{{ site.data.meta.title | smartify }}</title>
    {% feed_meta %}
    <link rel="stylesheet" href="{{ "/assets/styles.css" | relative_url }}">
    <link rel="me" href="{{ site.data.meta.microblog.baseurl }}/{{ site.data.meta.microblog.name }}">
    <script src="{{ "/assets/lib.js" | relative_url }}"></script>
    <script src="{{ "/assets/gist.js" | relative_url }}"></script>
</head>

<body>

    <header id="site-header" class="dim-link dim-link-hover">
        <h1>
            <a href="{{ "/" | relative_url }}">
                {{ site.data.meta.title | smartify }}
            </a>
        </h1>
        <ul id="site-nav">
            {% for item in site.data.navigation %}
            <li>
                <a href="{{ item.url | relative_url }}">
                    {{ item.title | smartify }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </header>

    <main>
        {{ content }}
    </main>

</body>

</html>
